<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}GS registro{% endblock %}</title>

    <meta name="description" content="Página registro">
    <meta name="author" content="Firmino">

</head>
<body>

<h1>Seja bem vindo caro usuário!</h1>

<h1> <b>Esse é um trabalho para avaliação em um estágio :)</b> </h1>
<p>Vejo que uma das caracteristicas mais marcante que vou absorver no estágio será:</p>
    <ul>
        {% for desejo in desejos %}
            <li>{{ desejo }}</li>
        {% endfor %}
    </ul>
<p>Agora é {{agora}}</p>

<nav>
    <div id="navbarNav">
        <ul>
            <li>
                <a href="{% url 'url_novo' %}">Novo cadastro</a>
            </li>
            <li>
                <a href="{% url 'url_listagem' %}">Lista de cadastrados</a>
            </li>
        </ul>
    </div>
    {% if user.is_authenticated %}
        <ul>

            <li>
                <p>
                    Usuário: {{ user.first_name }}
                </p>
            </li>
            <li>
                <a href="{% url 'logout' %}">Sair</a>
            </li>

        </ul>

    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
</nav>
<div>
{% block main %}{% endblock %}
</div>
</body>
</html>